#panel{
	height: 50px;
	background: #d6d6d6;
	position: fixed;
	width: 100%;
	z-index: 999999;
}
#panel a{
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    display: block;
    padding: 10.5px;
    width: 120px;
    float: left;
}
#panel a:hover{
	background: #c7c7c7;
}
.lockpanel{
	height: 50px;
	clear: both;
}
#panel ul{
	list-style: none;
}
#panel li{
	display: inline-block;
}
#panel ul li a{
	display: block;
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    padding: 10.8px;
    width: 120px;
    text-align: center;
    width: 140px;
}
.right{
	float: right;
}
.jarak{
	padding: 20px;
	clear: both;
}
.active{
	background: #c7c7c7;
	position: relative;
}
.active:after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #525252;
	height: 3px;
	left: 0;
}
.burger{
	padding: 8px 10px;
    border: 2px solid #585757;
    border-radius: 2px;
    margin-top: 5px;
    margin-right: 10px;
    display: none;
}
.burger:hover{
	cursor: pointer;
    background: #585757;
    color: #fff;
}


@media screen and (max-width:850px){
	.burger{
		display: block;
	}
	.right ul{
		display: none;
		position: absolute;
		left: 0px;
		top: 50px;
		background: #b3b3b3;
		padding: 0;
	}
	.right ul li a,.right ul,.right li{
		width: 100% !important;
	}
}