::-webkit-scrollbar { 
    display: none; 
}
#panel{
	height: 50px;
	background: #d6d6d6;
	position: fixed;
	width: 100%;
	z-index: 999999;
}
#panel a{
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    display: block;
    padding: 10.5px;
    width: 120px;
    float: left;
}
#panel a:hover{
	background: #c7c7c7;
}
.lockpanel{
	height: 50px;
	clear: both;
}
#panel ul{
	list-style: none;
}
#panel li{
	display: inline-block;
}
#panel ul li a{
	display: block;
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    padding: 10.8px;
    width: 120px;
    text-align: center;
    width: 140px;
}
.right{
	float: right;
}
.jarak{
	padding: 20px;
	clear: both;
}
.active{
	background: #c7c7c7;
	position: relative;
}
.active:after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #525252;
	height: 3px;
	left: 0;
}
.burger{
	padding: 8px 10px;
    border: 2px solid #585757;
    border-radius: 2px;
    margin-top: 5px;
    margin-right: 10px;
    display: none;
}
.burger:hover{
	cursor: pointer;
    background: #585757;
    color: #fff;
}


@media screen and (max-width:850px){
	.burger{
		display: block;
	}
	.right ul{
		display: none;
		position: absolute;
		left: 0px;
		top: 50px;
		background: #b3b3b3;
		padding: 0;
	}
	.right ul li a,.right ul,.right li{
		width: 100% !important;
	}
}

/*BG hero*/
.bg{
	padding-top: 20px;
	padding-bottom: 15px;
}
.bg h1{
	color: #fff;
}
.bg p{
	color: #cac9c9;
}
.bg-portofolio{
	background-color: #365396;
	background-image: url(../Portofolio/img/portofolio-bg.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right;
}
.bg-about{
	background-color: #37822e;
	/*background-image: url(../Portofolio/img/portofolio-bg.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right;*/
}
/*tabber*/
.tabber{
	float: right;
	position: relative;
	display: block;
}
.tabber nav{
	position: absolute;
	right: 0;
	top: 70px;
	width: 500px;
}
.tabber ul{
	list-style: none;
	padding: 0px !important;
	display: inline-block;
}
.tabber li{
	display: inline-block;
}
.tabber a{
	display: block;
	padding: 8px 0px 8px 15px;
	color: #2d2d2d;
}
.tabber a:hover{
	text-decoration: none;
	color: #365396;
}
/*content*/
.box-content .inner{
	background: #fff;
}
.inner img{
	width: 100%;
}
.abu{
	background: #e2e2e2;
}
.center{
	text-align: center;
}
.box-title{
	font-size: 24px;
	text-align: center;
}
.box-body{
	padding: 10px;
}
#content-wp .col-md-3,#content-php .col-md-3{
	margin-bottom: 25px;
}
@media screen and (max-width:992px){
	.tabber nav{
		position: relative;
		right: none;
		top: 0;
		width: auto;

	}
}