#panel{
	height: 50px;
	background: #d6d6d6;
	position: fixed;
	width: 100%;
	z-index: 999999;
}
#panel a{
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    display: block;
    padding: 10.5px;
    width: 120px;
    float: left;
}
#panel a:hover{
	background: #c7c7c7;
}
.lockpanel{
	height: 50px;
	clear: both;
}
#panel ul{
	list-style: none;
	display: inline-block;
}
#panel li{
	display: inline-block;
}
#panel ul li a{
	display: block;
	color: #525252;
	font-size: 20px;
	text-decoration: none;
    padding: 10.8px;
    width: 120px;
    text-align: center;
    width: 140px;
}
.right{
	float: right;
}
.jarak{
	padding: 20px;
	clear: both;
}
.active{
	background: #c7c7c7;
	position: relative;
}
.active:after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 140px;
	background: #525252;
	height: 3px;
	left: 0;
}